body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('images/table.jpeg');
    background-size: cover;
    text-align: center;
    color: white;
    height: 80vh;
    font-size: 24px;
}

h1 {
    color: goldenrod;
}

button {
    color: #016f32;
    width: 175px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    height: 50px;
    box-shadow: 0px 0px 1px 1px rgb(211,211,211);
}

#stay {
    margin-right: 2px;
}
#hit {
    margin-left: 2px;
}

button:hover {
    background-color: rgb(211,211,211);
    transition: 0.3s;
}

#player-name, #dealer-name {
    line-height: 24px;
}

.board {
    display: flex;
    justify-content: space-around;
    flex-basis: auto;
    height: 350px;
    margin-bottom: 50px;
    /* margin-top: 20px; */
}

.player-side, .dealer-side{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.user, .dealer {
    width: 575px;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    box-shadow: 10px 10px 10px black;
    background-image: linear-gradient(#C0C0C0 25%, 75%, #00563B);
    border-radius: 8px;
}

#user-cards, #dealer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    margin: 2px;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 90%;
    /* justify-content: space-evenly; */
}



.card {
    position: relative;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    background-color: white;
    margin-top: 40px;
}

.card-value-suit {
    display: inline-block;
    position: absolute;
}

.card-value-suit.top {
    top: 5px;
    left: 5px;
}

.card-value-suit.bot {
    transform: rotate(180deg);
    bottom: 5px;
    right: 5px;
}

.card-suit {
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
}

.card.spades, .card.clubs {
    color: black;
}

.card.hearts, .card.diamonds {
    color: red;
}