body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('images/table.jpeg');
    background-size: cover;
    text-align: center;
    color: white;
    height: 80vh;
    font-size: 24px;
}

h1 {
    color: goldenrod;
    height: 5%;
}

button {
    /* color: #016f32; */
    width: 175px;
    /* background: goldenrod; */
    /* padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold; */
    /* border: none; */
    /* border-radius: 3px; */
    /* font-size: 24px; */
    /* height: 50px; */
    /* box-shadow: 0px 0px 1px 1px rgb(211,211,211); */
}

.buttons {
    /* flex-grow: 1; */
    height: 100px;
}

#stay {
    margin-right: 2px;
}
#hit {
    margin-left: 2px;
}

/* button:hover {
    background-color: rgb(211,211,211);
    transition: 0.3s;
} */

#player-name, #dealer-name { 
    /* line-height: 50px;  */
    /* font-size: 28px;
    text-align: center; */
    /* margin: auto;  */
} 

.person {
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.813);
    color: rgb(194, 147, 28);
    font-weight: bold;
    font-size: 32px;
    box-shadow: 5px 5px 5px black;

}

#game-message {
    font-size: 28px;
    /* height: 20px; */
}

.board {
    display: flex;
    justify-content: space-around;
    height: 350px;
    /* height: 100%; */
    margin-bottom: 50px;
    /* margin-top: 20px; */
}

.player-side, .dealer-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
}

.user, .dealer {
    width: 575px;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    box-shadow: 10px 10px 10px black;
    background-image: linear-gradient(#C0C0C0 10%, 90%, goldenrod);
    border-radius: 8px;
    font-weight: bold;
}

#user-cards, #dealer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    margin: 2px;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 90%;
    justify-content: space-around;
}

#modal-overlay {
    width: 100%;
    height: 100vh;
    /* left: 25%; */
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

#modal-overlay > #modal {
    max-width: 650px;
    width: 100%;
    background: white;
    height: 400px;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#modal-overlay > #modal > .modal-footer {
    margin-top: auto;
}




.card {
    position: relative;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #727272;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    background-color: white;
    margin-top: 40px;
}


.card-value-suit {
    display: inline-block;
    position: absolute;
}

.card-value-suit.top {
    top: 5px;
    left: 5px;
}

.card-value-suit.bot {
    transform: rotate(180deg);
    bottom: 5px;
    right: 5px;
}

.card-suit {
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
}

.card.spades, .card.clubs {
    color: black;
}

.card.hearts, .card.diamonds {
    color: red;
}


.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(43deg 100% 16%) 0%,
        hsl(43deg 100% 32%) 8%,
        hsl(43deg 100% 32%) 92%,
        hsl(43deg 100% 16%) 100%
    );
}

.front {
    display: block;
    position: relative;
    padding: 12px 30px;
    border-radius: 12px;
    font-size: 1.35rem;
    font-weight: bold;
    color: #016f32;;
    background: hsl(41deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover { 
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}

/* #five-bet, #ten-bet, #fifteen-bet, #twenty-bet {
    width: 75px;
    border-radius: 50%;
}

#five-bet, #ten-bet, #fifteen-bet {
    margin-right: 10px;
}

#ten-bet, #fifteen-bet, #twenty-bet {
    margin-left: 10px;
} */

/* #bets {
    width: 500px;
    border: 1px;
}

#bets button {
    outline: none;
    background: none;
    border: 0;
    margin: .5em;
}

.chip {
    width: 25%;
}

.chip-circle {
    width: 100%;
    height: 0%;
    border-radius: 50%;
    border: 8px solid #cfdcec;
    overflow: hidden;
    background: #4679BD;
    box-shadow: 0 0 3px gray;
}

.chip-circle:hover {
    background: #30588e;
}

.chip span {
    display: block;
    float: left;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    margin-top: -0.5em;
    text-align: center;
    color: #e2eaf3;
    font-family: Verdana;
    font-size: 1.9em;
    font-weight: bold;
    text-decoration: none;
} */

.chip {
    width: 190px;
    height: 190px;
    position: fixed;
    background: #FCBE5C;
    top: 45px;
    left: 95px;
    border-radius: 50%;
    border: 10px solid #0B2429;
}

.chip::before {
    content: "";
    width: 120px;
    height: 120px;
    position: absolute;
    background: #0B2429;
    top: 25px;
    left: 25px;
    border-radius: 50%;
    border: 10px solid #FCBE5C;
    outline: 10px solid #0B2429;
}

.chip::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 190px;
    top: 0;
    left: 80px;
    background: #0B2429;
    z-index: -1;
}

.chip-circle {
    width: 30px;
    height: 190px;
    position: absolute;
    top: 0;
    left: 80px;
    background: #0B2429;
    transform: rotate(90deg);
    z-index: -1;
}
