body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('images/Table5.jpeg');
    background-size: cover;
    text-align: center;
    color: white;
    max-height: 80vh;
    font-size: 24px;
}

h1 {
    color: goldenrod;
    /* height: 75px; */
    font-size: 64px;
}

.header-row {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 120px;
    margin-top: 30px;
}

.centered-title {
    flex-basis: 57.5%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.remaining-content {
    font-size: 28px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.bank {
    border: 2px solid black;
    width: 400px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.813);
    color: rgb(194, 147, 28);
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
}

.message {
    height: 65px;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.813);
    color: rgb(37, 28, 5);
    font-weight: bold;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 250px;
    
}

.buttons {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* button {
    width: 175px;
}

.buttons {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

#stay {
    margin-right: 7px;
}
#hit {
    margin-left: 7px;
}

.person {
    width: 200px;
    height: 50px;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.813);
    color: rgb(194, 147, 28);
    font-weight: bold;
    font-size: 32px;
    box-shadow: 5px 5px 5px black;

}

#game-message {
    font-size: 34px;
}

.message-line {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: space-evenly;
    height: 375px;
    margin-bottom: 50px;
}

.player-side, .dealer-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user, .dealer {
    width: 650px;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    box-shadow: 10px 10px 10px black;
    background-image: linear-gradient(#C0C0C0 10%, 90%, goldenrod);
    border-radius: 8px;
    font-weight: bold;
}

#user-cards, #dealer-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    margin: 2px;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 90%;
    justify-content: space-around;
}

.money {
    display: flex;
    justify-content: space-evenly;
}

#modal-overlay {
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: absolute;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.397);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    max-width: 650px;
    width: 100%;
    background: white;
    height: 400px;
    color: black;
    background-color: rgb(245, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(218, 165, 32, 0.561) 0px 10px 36px 0px, rgba(218, 165, 32, 0.201) 0px 0px 0px 1px;
}


#deposit-modal {
    margin-left: 7px;
}

#close-modal {
    margin-right: 7px;
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.modal__state:checked + .modal__overlay {
    opacity: 1;
    animation: fade-in .4s;
    display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input[type=number] {
  -moz-appearance: textfield;
} */

.modal-content > input {
    height: 50px;
    font-size: 1.2em;
    text-align: center;
    /* padding:10px; */
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    
}

.modal-content {
    padding-top: 5%;
    padding-bottom: 15%;
}

input:focus {
    /* background-color: rgb(245, 245, 245); */
    outline: none !important;
    border: 2px solid goldenrod

}

.modal-footer { 
    height: 150px;
}


.card {
    position: relative;
    width: 100px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #727272;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    background-color: white;
    margin-top: 40px;
}

.card-value-suit {
    display: inline-block;
    position: absolute;
}

.card-value-suit.top {
    top: 5px;
    left: 5px;
}

.card-value-suit.bot {
    transform: rotate(180deg);
    bottom: 5px;
    right: 5px;
}

.card-suit {
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25%;
}

.card.spades, .card.clubs {
    color: black;
}

.card.hearts, .card.diamonds {
    color: red;
}

.main-buttons{
    
}

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        hsl(43deg 100% 16%) 0%,
        hsl(43deg 100% 32%) 8%,
        hsl(43deg 100% 32%) 92%,
        hsl(43deg 100% 16%) 100%
    );
}

.front {
    display: block;
    position: relative;
    padding: 12px 30px;
    border-radius: 12px;
    font-size: 1.85rem;
    font-weight: bold;
    color: #016f32;;
    background: hsl(41deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.pushable:hover { 
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}


.pokerchip {
    margin: 1em;
    position: relative;
    display: inline-block;
    width: 136px;
    height: 136px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5), 0 0 3px 0 rgba(0, 0, 0, 0.4) inset;
    border-radius: 50%;
    background-size: 151px 151px;
    background-position: center center;
}

.pokerchip::before {
    position: absolute;
    content: "";
    z-index: 1;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    top: 9px;
    left: 9px;
    background-size: 151px 151px;
    background-position: center center;
}

.pokerchip::after {
    z-index: 2;
    position: absolute;
    content: "25";
    text-align: center;
    font: bold 38px/99px Arial;
    white-space: pre;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.2);
}

.white {
    background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #dddddd 0, #dddddd 97.4304px, #fff 97.4304px, #fff 113.4304px, #dddddd 113.4304px, #dddddd 151px);
  }

  .white:before {
    border: 8px solid #dddddd;
    background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #C1C1C1 0, #C1C1C1 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #C1C1C1 110.7104px, #C1C1C1 151px);
  }

  .white:after {
    content: "1";
    background: #dddddd;
    color: #C1C1C1;
  }

  .red {
    background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #800000 0, #800000 97.4304px, #fff 97.4304px, #fff 113.4304px, #800000 113.4304px, #800000 151px);
  }

  .red:before {
    border: 8px solid #800000;
    background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #6C0000 0, #6C0000 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #6C0000 110.7104px, #6C0000 151px);
  }

  .red:after {
    content: "5";
    background: #800000;
    color: #6C0000;
  }

  .blue {
    background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #000099 0, #000099 97.4304px, #fff 97.4304px, #fff 113.4304px, #000099 113.4304px, #000099 151px);
  }

  .blue:before {
    border: 8px solid #000099;
    background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #00016C 0, #00016C 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #00016C 110.7104px, #00016C 151px);
  }

  .blue:after {
    content: "10";
    background: #000099;
    color: #00016C;
  }

  .green {
    background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #008000 0, #008000 97.4304px, #fff 97.4304px, #fff 113.4304px, #008000 113.4304px, #008000 151px);
  }

  .green:before {
    border: 8px solid #008000;
    background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #016C00 0, #016C00 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #016C00 110.7104px, #016C00 151px);
  }

  .green:after {
    content: "25";
    background: #008000;
    color: #016C00;
  }

  .black {
    background-image: linear-gradient(0deg, transparent 0, transparent 67.5px, #fff 67.5px, #fff 83.5px, transparent 83.5px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 97.4304px, #fff 97.4304px, #fff 113.4304px, transparent 113.4304px, transparent 151px), linear-gradient(120deg, #222222 0, #222222 97.4304px, #fff 97.4304px, #fff 113.4304px, #222222 113.4304px, #222222 151px);
  }

  .black:before {
    border: 8px solid #222222;
    background-image: linear-gradient(0deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(30deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(60deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(90deg, transparent 0, transparent 69.5px, #EBEBEB 69.5px, #EBEBEB 81.5px, transparent 81.5px, transparent 151px), linear-gradient(120deg, transparent 0, transparent 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, transparent 110.7104px, transparent 151px), linear-gradient(150deg, #000000 0, #000000 98.7104px, #EBEBEB 98.7104px, #EBEBEB 110.7104px, #000000 110.7104px, #000000 151px);
  }
  .black:after {
    content: "100";
    background: #222222;
    color: #000000;
  }

  .pokerchip:hover {
    filter: brightness(110%);
    transform: scale(1.05);
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .bet-options {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}